{% extends "blog/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">About Me</h1>
        <p class="lead">This Website was developed by Nitish Kumar, currently studying in IIT Guwahati, using Django rest-framework. This website uses Technologies such as HTML, CSS and Bootstrap, etc for front-end development.</p>
        <hr class="my-4">
        <p>Connect with me using following links to my socials.</p>
        <p class="lead">

          <button type="button" class="btn btn-outline-primary"><a href="https://www.linkedin.com/in/nitish-kumar-5a260b1a0/">LinkedIn</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="https://www.instagram.com/nakaarmusic/">Instagram</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="https://www.youtube.com/channel/UC_3c_gSTpXuI_kY7zPAxlUw">YouTube</a></button>
        </p>
    </div>

{% endblock content %}
