{% extends "blog/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">About Me</h1>
        <p class="lead">This Website was developed by Nitish Kumar, currently studying inn IIT Guwahati, using Django rest-framework. This website uses Technologies such as HTML, CSS and Bootstrap, etc for front-end development.</p>
        <hr class="my-4">
        <p>Connect with me using following links to my socials.</p>
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="https://www.linkedin.com/in/nitish-kumar-5a260b1a0/" role="button">LinkedIn</a>
          <a class="btn btn-primary btn-sm" href="https://www.instagram.com/nakaarmusic/" role="button">Instagram</a>
          <a class="btn btn-primary btn-sm" href="https://www.youtube.com/channel/UC_3c_gSTpXuI_kY7zPAxlUw" role="button">YouTube</a>
        </p>
    </div>

{% endblock content %}
